  <div class="container">
    <div class="verticalDiv">t</div>
    <div class="horizontalDiv">t
      <div class="header">
        <button (click)="createNewProduct()"><i class="fa fa-upload" id="uploadIcon"></i>New</button>
      </div>
        <table class="table">
          <thead>
            <tr>
              <th>Device Id</th>
              <th>Device Type</th>
              <th>Device risk level</th>
              <th>Last seen</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr *ngFor="let val of productAdded; let i = index">
            <td>{{val.device_id}}</td>
            <td>{{val.device_type}}</td>
            <td>{{val.device_risk}}</td>
            <td>{{lastSeen}}</td>
            <td>{{val.productdate | date}}</td>
            <td>
              <button class = "download"><i class="fa fa-download"></i></button>
              <button class = "edit" (click)="editRow(val)"><i class="fa fa-refresh"></i></button>
              <button class = "delete" (click)="deleteRow(val)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </table>
    </div>
  </div>